@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
    PALETA DE CORES
    Laranja: #F48037
    Azul: #6A98C3
    Branco: #FFFFFF
    Preto: #000000
*/

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #6A98C3;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    background-color: white;
    width: 300px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #6A98C3 url(../photo/fundo.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 5px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 5px;
    color: black;
}

div#formulario > p {
    font-size: 0.7em;
    color: black;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: #6A98C3;
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
}

form > input[type=submit] {
    background-color: #6A98C3;
    color: white;
    display: block;
    margin-top: 20px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

form > input[type=submit]:hover {
    background-color: #43678a;
}

form > a.botao {
    display: block;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6A98C3;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #43678a;
}

form > a.botao > i {
    font-size: 1em;
    margin-top: 10px;
    margin-right: -20px;
}